/* Start of Glopal Roles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #10cab7;
  --secondary-color : #2c4755;
  --section-padding: 60px;
  --section-bgc: #f6f6f6;
}
/* Special form */
.special-header {
  text-align: center;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
  font-size: 100px;
  letter-spacing: -3px;
}
.special-header + p {
  font-size: 20px;
  color: #797979;
  margin: -30px 0 0;
  text-align: center;
}
@media (max-width: 767px) {
  .special-header {
    font-size: 70px;
  }
  .special-header + p {
    margin: -28px 0 0;
  }
}
/* Special form */
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of Glopal Roles */
.up {
  background-color: var(--main-color);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  color: #2c4755;
  animation-name: go-up;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes go-up {
  25% {
    bottom: 45px;
  }
  50% {
    bottom: 50px;
    }
  75% {
    bottom: 55px;
  }
  100% {
    bottom: 50px;
  }
}
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  height: 3px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  border-radius: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .links ul {
  padding: 0;
  margin: 0;
  background-color: var(--section-bgc);
  position: absolute;
  list-style: none;
  right: 0;
  top: calc(100% + 15px);
  z-index: 1;
  min-width: 200px;
  display: none;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent var(--section-bgc) transparent;
  top: -25px;
  right: 0px;
  position: absolute;
}
.header .links ul li a {
  transition: 0.3s;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 15px;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../Images/piqsels.com-id-ogvpg.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  min-width: 320px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  line-height: 1.8;
  font-size: 19px;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-bgc);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
}
.features .feat p {
  font-size: 17px;
  line-height: 1.8;
  color: #777;
}
/* End Features */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .service-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .service-content .srv {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.services .service-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .service-content .srv .text {
  flex: 1;
}
.services .service-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .service-content .srv .text p {
  color: #444;
  max-width: 500px;
  font-weight: 300;
  line-height: 1.6;
}
.col .image {
  position: relative;
  width: 200px;
  height: 400px;
}
.col .image img {
  width: 100%;
  height: 80%;
}
.col .image::before {
  content: "";
  position: absolute;
  height: 94%;
  width: calc(105% / 3);
  background-color: var(--secondary-color);
  right: -30px;
  top: -30px;
  z-index: -1;
}
.col:last-child {
  width: 200px;
  height: 320px;
  margin-left: 89px;
}
@media (max-width: 1200px) {
  .col:last-child {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-bgc);
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.portfolio .card {
  max-width: 340px;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0.1px 0.1px 20px #c7c6c6;
}
.portfolio .card img {
  max-width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.portfolio .card .info {
  padding: 20px;
}
.portfolio .card .info h3 {
  margin: 0;
}
.portfolio .card .info p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  right: -130px;
  top: -30px;
  width: 100px;
  height: 75%;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  left: -20px;
  top: -30px;
  width: 80px;
  height: 115%;
  background-color: #ebeced;
  z-index: -1;
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  max-width: 60%;
  padding: 20px;
  align-items: left;
}
.about .about-content .text p {
  line-height: 1.8;
}
.about .about-content .text p:nth-of-type(1) {
  font-weight: 700;
  margin-bottom: 50px;
}
.about .about-content .text p:nth-of-type(2) {
  color: #777;
  margin-top: 20px;
}
.about .about-content .text hr {
  width: 50%;
  margin-left: 0;
  border-top: 1px solid #09766b;
  border-bottom: 1px solid #14ffe7;
}
@media (max-width: 992px) {
  .about .about-content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .about .about-content .image::before {
    display: none;
  }
  .about .about-content .image::after {
    display: none;
  }
  .about .about-content .text {
    max-width: 100%;
    text-align: center;
  }
  .about .about-content .text hr {
    margin: 0 auto;
  }
}
@media (min-width: 993px) {
  .about .about-content .text {
      /* max-width: 60%; */
  }
}
/* End About */
/* Start Contact */
.contact {
  background-color: #f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .contact-content {
  margin-top: 70px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-content > p {
  font-size: 35px;
  font-weight: 800;
  color: #2c4755;
  margin: 20px;
  letter-spacing: -2px;
}
.contact .contact-content .email a {
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
}
.contact .contact-content .links {
  display: flex;
  margin: 10px;
}
.contact .contact-content .links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  margin: 0;
  align-items: center;
}
.contact .contact-content .links ul li a {
    color: #2c4755;
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: #2c4755;
  height: 10vh;
  color: white;
  display: flex;
}
.footer .container {
  display: flex;
  justify-content: center;
}
.footer p {
  align-self: center;
  margin: 0;
  font-size: 18px;
}
.footer p span {
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  .contact .contact-content > p {
    font-size: 25px;
  }
  .contact .contact-content .email a {
    font-size: 27px;
  }
}
/* End Footer */